body{
    margin: 0;
    padding: 0;
}

/* BAR */
.frs{
    width: 100%;
    height: 100vh;
}
.bg-first{
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url(/img/background.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 95vh;
}
.mainfirst{
  position: absolute;
  top: 32%; 
  width: 100%;
}
.weare{
  
  text-align: center;
  color: white;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vh;
  margin-bottom: 0;
}
.med{
  color:#fc8c6c;
  margin: 0;
}
.blackbox{
  position: absolute;
  top: 80%; 
  background-color: #000000;
  width: 100%;
  height: 20vh;
}
.box-price{
  position: absolute;
  top: 70%;
  left: 22.5%;
  border: 1px #fc8c6c solid;
  background-color: black;
  width: 50%;
  height: 20vh;
}
.pricing{
  position: absolute;
  top: 0%;
  left: 3%;
}
.pricing2{
  position: absolute;
  top: 0%;
  left: 36%;
}
.pricing3{
  position: absolute;
  top: 0%;
  left: 66%;
}

.linever{
  width: 0.7%;
  height: 16vh;
  position: absolute;
  top: 10%;
  left: 33%;
  border-radius: 3px;
  background-color: #fc8c6c;
}
.linever2{
  width: 0.7%;
  height: 16vh;
  position: absolute;
  top: 10%;
  left: 63%;
  border-radius: 3px;
  background-color: #fc8c6c;
}
.textbox{
color: #ffffff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
padding-left: 30px;
}
.textboxmain{
  color: #ffffff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
font-weight: 500;
padding-left: 15px;
padding-bottom: 1px;
}
.buttonone{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  padding: 5%;
  width: 75%;
  text-decoration: none;
  background-color: #fc8c6c;
}
.onne{
  position: absolute;
  top: 225%;
  left: 20%;
}
.buttontwo{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  padding: 6%;
  width: 90%;
  text-decoration: none;
  background-color: #fc8c6c;
}
.twoo{
  position: absolute;
  top: 105%;
  left: 10%;
}
.buttonthe{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  padding: 6%;
  width: 100%;
  text-decoration: none;
  background-color: #fc8c6c;
}
.re{
  position: absolute;
  top: 107.5%;
  left: 17%;
}
/* Section 2 */
.sec{
    background-color: #ffffff;
    width: 100%;
    height: 70vh;
}
.title2{  
  margin: 12.5vh 0 5vh;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 6vh;
}
.sub2{
    margin: /*top*/ 0 /*right*/0vh /*bottom*/ 1vh /*left*/ 8vh;
  width: 90%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 3vh;
  line-height: 1.8;

}
.button4{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  padding: 0.75% 1.5% 0.75% 1.5%;
  text-decoration: none;
  background-color: #fc8c6c;
}
.hhh{
  position: absolute;
  top: 152.5%;
  left: 44%;
}
.threesec{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.tit3{ 
  position: relative;
  top: 30%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
    font-style: normal;
  font-weight: lighter;
  font-size: 56px;
  color: black; 
}
.threesec{
  width: 100%;
  height: 80vh;
}
.flexs{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 0.1vh;
}
.pppp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexs2{
  width: 72%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 0.1vh;
}

.textbox-flex{
  color: #ff0000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
}
.img-con{
  width: 30vh;
  height: 30vh;
  filter: brightness(70%);

}

.button5{
  margin-left: 10vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  padding: 3%;
  text-decoration: none;
  background-color: #fc8c6c; 
}
/*
.p1{

color: #ffffff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
font-weight: bolder;
width: fit-content;
height: fit-content;
}
.buttonoo{
  display: flex;
  align-items: center;
  justify-content: ;
  text-align: center;
}
.buttono{
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  padding: 3%;
  text-decoration: none;
  background-color: #fc8c6c;  
} */
.foursec{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.title3{
  margin: 10vh 0 0vh 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Libre Baskerville", serif;
  font-weight: lighter;
  font-style: normal;
  
  font-size: 58px;
}
.all2{
  bottom: 10%;
  width: 100%;
  height: 20vh;
}
.o3{
  position: absolute;
  top: 300%;
  left: 2%;
}
.o4{
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 2vh;
  line-height: 1.1;
}
.ch{
  position: absolute;
  top: 288%;
  left: 10%;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3vh;
  line-height: 1.1;
}
.h{
  position: absolute;
  top: 310%;
  left: 1%;
}
.l{
  position: absolute;
  top: 345%;
  right: 1%;
}
.pa{

  text-align: left;
  color: rgb(0, 0, 0);
  font-family: "Abel", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 2vh;
  line-height: 1.1;
  
}
.img2{
  width: 65%;
  height: 45vh;
  float: right;
}
.img3{
  width: 65%;
  height: 45vh;
  float: left ;
}